<div id="demo" class="carousel slide fondo" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"> </li>
     
     

    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img style="width: 100%" src="../assets/1.jpg" alt="">
      </div>
      
     

    </div>

    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"> </span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"> </span>
      </a>


  </div>
 
<div class="card-group">
    <div class="card"  >
     <a routerLink="/detalles"> <img class="card-img-top" src="https://forkgasm.com/images/carbonara.jpg" alt="Card image cap"></a> 
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
       
       
      </div>
    </div>
    <div class="card"   routerLink="/detalles">
      <a routerLink="/detalles"> <img class="card-img-top" src="https://forkgasm.com/images/carbonara.jpg" alt="Card image cap"></a> 
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
     
  
      </div>
    </div>
    <div class="card"  rounterLink="/detalles">
      <a routerLink="/detalles"> <img class="card-img-top" src="https://forkgasm.com/images/carbonara.jpg" alt="Card image cap"></a> 
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
       
       
      </div>
    </div>
  </div>