<div class="card-group">
    <div class="card"  >
     <a routerLink="/detalles"> <img class="card-img-top" src="https://forkgasm.com/images/carbonara.jpg" alt="Card image cap"></a> 
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
       
       
      </div>
    </div>
    <div class="card"   routerLink="/detalles">
      <a routerLink="/detalles"> <img class="card-img-top" src="https://forkgasm.com/images/carbonara.jpg" alt="Card image cap"></a> 
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
     
  
      </div>
    </div>
    <div class="card"  rounterLink="/detalles">
      <a routerLink="/detalles"> <img class="card-img-top" src="https://forkgasm.com/images/carbonara.jpg" alt="Card image cap"></a> 
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
       
       
      </div>
    </div>
  </div>