<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
<h3 >Bienvenido</h3>

<button (click)="auth.googleSignin()"  >
  <i class="fa fa-google" style="color: black !important"></i> Inicia sesión con Google
</button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user$ | async as user">
  <h3 style="float:right" >Bienvenido, {{ user.displayName }}</h3>
  <!--<p>Correo: {{ user.email }}</p>-->
  <button (click)="auth.signOut()">Logout</button>
</div>
</ng-template>
